<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{bootstrap/css/bootstrap.css}">-->
    <!--<link rel="stylesheet" href="../static/css/dashboard.css" th:href="@{css/dashboard.css}">-->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{css/main.css}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="../static/js/jquery-3.3.1.js" th:src="@{js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" src="../static/js/updatePassword.js" th:src="@{js/updatePassword.js}"></script>
    <style>
        body{
            background-color: #d9edf7;
        }
    </style>
</head>

<body class="app sidebar-mini">
    <!-- Navbar-->
    <div th:replace="commons/header::header"></div>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <div th:replace="commons/aside::aside(activeUri='simingG')"></div>
    <main class="app-content">
        <input hidden th:value="${belonging}" name="belonging" id="belonging">
        <div class="row">
            <div class="col-md-12 tile">
                <button sec:authorize="hasAnyAuthority('deleteClass-simingG')" type="button" class="simingG-isLock btn btn-info" onclick="deleteAll()">清空班级列表</button>
                <a type="button" class="btn btn-info" th:href="@{'/downloadExcel?belonging='+${belonging}}">导出所有学生</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" th:each="class:${classes}">
                <div class="tile">
                    <div class="tile-title">
                        <a th:href="@{'showStudent?classId='+${class.id}+'&belonging='+${belonging}}"><div th:text="${class.name}" style="color: black"></div></a>
                    </div>
                    <div class="tile-footer">平均分<span th:text="${class.averageScore}"></span><br>男<span th:text="${class.boyNum}"></span>女<span th:text="${class.girlNum}"></span></div>
                </div>
            </div>
        </div>

    </main>

    <!-- Essential javascripts for application to work-->
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{js/jquery-3.3.1.min.js}"></script>
    <script src="../static/js/popper.min.js" th:src="@{js/popper.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
    <script src="../static/js/main.js" th:src="@{js/main.js}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="../static/js/plugins/pace.min.js" th:src="@{js/plugins/pace.min.js}"></script>
    <!-- Page specific javascripts-->
    <script type="text/javascript" src="../static/js/plugins/chart.js" th:src="@{js/plugins/chart.js}"></script>

    <script type="text/javascript" src="../static/js/plugins/jquery.dataTables.min.js" th:src="@{js/plugins/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" src="../static/js/plugins/dataTables.bootstrap.min.js" th:src="@{js/plugins/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
    <script type="text/javascript">
        var data = {
            labels: ["January", "February", "March", "April", "May"],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [65, 59, 80, 81, 56]
                },
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 86]
                }
            ]
        };
        var pdata = [
            {
                value: 300,
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "Complete"
            },
            {
                value: 50,
                color:"#F7464A",
                highlight: "#FF5A5E",
                label: "In-Progress"
            }
        ]

        var ctxl = $("#lineChartDemo").get(0).getContext("2d");
        var lineChart = new Chart(ctxl).Line(data);

        var ctxp = $("#pieChartDemo").get(0).getContext("2d");
        var pieChart = new Chart(ctxp).Pie(pdata);
    </script>
    <!-- Google analytics script-->
    <script type="text/javascript">
        if(document.location.hostname == 'pratikborsadiya.in') {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72504830-1', 'auto');
            ga('send', 'pageview');
        }
    </script>

    <div th:replace="commons/aside::modal"></div>

</body>

<script>
    function deleteAll() {
        var belonging = $("#belonging").val();
        if (confirm("确认清空所有班级?")) {
            $.get("/deleteClass?belonging="+belonging,function (data) {
                if (data == 1){
                    location.href="showClass?belonging="+belonging
                }
            })
        }

    }
</script>
</html>