<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>下拉树开发</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/AdminLTE.css" th:href="@{css/AdminLTE.css}"/>
    <link rel="stylesheet" href="../static/css/metro.css" th:href="@{css/metro.css}">
    <link rel="stylesheet" href="../static/css/combtree.css" th:href="@{css/combtree.css}"/>
    <script src='../static/js/jquery-3.3.1.min.js' th:src="@{js/jquery-3.3.1.min.js}"></script>
    <script src='../static/bootstrap/js/bootstrap-ztree.js' th:src="@{bootstrap/js/bootstrap-ztree.js}"></script>
    <script src="../static/js/testdata.js" th:src="@{js/testdata.js}"></script>
    <script src="../static/js/uuid.js" th:src="@{js/uuid.js}"></script>
    <script src="../static/js/combtree.js" th:src="@{js/combtree.js}"></script>

    <script>
        $(document).ready(function() {
            var zNodes = [];
            $.get("/findAllPermissions",function (data) {
                for (var i=0;i<data.length;i++){
                    var treeData = { id:data[i].id, pId:data[i].pid, name:data[i].text, open:true};
                    zNodes.push(treeData);
                }

                var tree = new Tree($(".combtree"));
                tree.init({datas: zNodes});
                $("#select").click(function(){
                    console.log(tree.value());
                });
            });
            // var tree = new Tree($(".combtree"));
            // tree.init({datas: zNodes});
            // $("#select").click(function(){
            //     console.log(tree.value());
            // });
        });
    </script>
</head>
<body>
<div style="margin: 50px">
    <div class="combtree">
    </div>
</div>
</body>
</html>