<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{css/main.css}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../static/css/ele.css" th:href="@{css/ele.css}">

</head>
<body>
<!-- Navbar-->
<div th:replace="commons/header::header"></div>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<div th:replace="commons/aside::aside(activeUri='roster')"></div>
<main class="app-content">
    <div class="app-title">
        <h3>用户管理</h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-title">
                    <button type="button" class="btn btn-info" onclick="" data-toggle="modal" data-target="#staticBackdrop">添加</button>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>角色名</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td><button type="button" class="btn btn-info" onclick="">修改</button> <button type="button" class="btn btn-info" onclick="">删除</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" >
                    <h5 class="modal-title" id="staticBackdropLabel" >添加用户</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <th style="width:50px">姓 &nbsp &nbsp &nbsp &nbsp &nbsp名: </th>
                            <th><input type="text" class="form-control " placeholder="Name" aria-describedby="basic-addon1"></th>
                        </tr>
                        <tr>
                            <th>角色及权限: </th>
                            <th>
                                <div class="form-group">
                                    <div id="Check_box" style="width:360px;overflow:auto; ">
                                        <div slot="left" style="width: 500px; padding: 0 40px;margin: 0 auto;">
                                            <div class="checkbox-table" v-for="(item, indexkey) in menu" :key="item.id">
                                                <template>
                                                    <el-checkbox class="check1" style="font-weight: 600;margin-bottom: 15px " v-model='menusIds' :label="item.id" @change='handleCheck(1,indexkey)'>
                                                        {{item.name}}
                                                    </el-checkbox>
                                                    <div style="margin-bottom: 20px;">
                                                        <div v-for="list in item.children" class="line-check" :key="list.id" style="display: inline-block; margin-left: 20px;margin-bottom: 20px;" >
                                                            <el-checkbox class="check2" @change='handleCheck(2,indexkey)' v-model="menusIds" :label="list.id">
                                                                {{list.name}}
                                                            </el-checkbox>
                                                        </div>
                                                    </div>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <!--tr>
                            <th>
                                <div class="form-group">
                                    <div id="Check_box" >
                                        <div slot="left" style="width: 500px; padding: 0 40px;margin: 0 auto;">
                                            <div class="checkbox-table" v-for="(item, indexkey) in menu" :key="item.id">
                                                <template>
                                                    <el-checkbox class="check1" style="font-weight: 600;margin-bottom: 15px " v-model='menusIds' :label="item.id" @change='handleCheck(1,indexkey)'>
                                                        {{item.name}}
                                                    </el-checkbox>
                                                    <div style="margin-bottom: 20px;">
                                                        <div v-for="list in item.children" class="line-check" :key="list.id" style="display: inline-block; margin-left: 20px;margin-bottom: 20px;" >
                                                            <el-checkbox class="check2" @change='handleCheck(2,indexkey)' v-model="menusIds" :label="list.id">
                                                                {{list.name}}
                                                            </el-checkbox>
                                                        </div>
                                                    </div>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr-->

                    </table>
                </div>
                <div class="modal-footer" >
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" >取消</button>
                    <button type="button" class="btn btn-info">提交</button>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- Essential javascripts for application to work-->
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{js/jquery-3.3.1.min.js}"></script>
<script src="../static/js/popper.min.js" th:src="@{js/popper.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/main.js" th:src="@{js/main.js}"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="../static/js/plugins/pace.min.js" th:src="@{js/plugins/pace.min.js}"></script>
<!-- Page specific javascripts-->
<script type="text/javascript" src="../static/js/plugins/chart.js" th:src="@{js/plugins/chart.js}"></script>

<script type="text/javascript" src="../static/js/plugins/jquery.dataTables.min.js" th:src="@{js/plugins/jquery.dataTables.min.js}"></script>
<script type="text/javascript" src="../static/js/plugins/dataTables.bootstrap.min.js" th:src="@{js/plugins/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>

<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.6.3/vue.js"></script>
<script type="text/javascript" src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">
    var data = {
        labels: ["January", "February", "March", "April", "May"],
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [65, 59, 80, 81, 56]
            },
            {
                label: "My Second dataset",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: [28, 48, 40, 19, 86]
            }
        ]
    };
    var pdata = [
        {
            value: 300,
            color: "#46BFBD",
            highlight: "#5AD3D1",
            label: "Complete"
        },
        {
            value: 50,
            color:"#F7464A",
            highlight: "#FF5A5E",
            label: "In-Progress"
        }
    ]

    var ctxl = $("#lineChartDemo").get(0).getContext("2d");
    var lineChart = new Chart(ctxl).Line(data);

    var ctxp = $("#pieChartDemo").get(0).getContext("2d");
    var pieChart = new Chart(ctxp).Pie(pdata);
</script>
<!-- Google analytics script-->
<script type="text/javascript">
    if(document.location.hostname == 'pratikborsadiya.in') {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-72504830-1', 'auto');
        ga('send', 'pageview');
    }
</script>
<script type="text/javascript" src="/static/js/vue.js" th:src="@{js/vue.js}"></script>
<!-- 用户权限嵌套选择-->
<script>
    new Vue({
        el: '#Check_box',
        data() {
            return {
                menu: [],
                menusIds: []
            }
        },
        created() {
            this.loadData();
        },
        methods: {
            loadData() {
                let self = this;
                axios.get('./data.json', { responseType:'json' }).then(function(response) {
                    self.menu = response.data.data.allMenus;
                })
            },
            // 处理选择事件
            handleCheck(type, a = 0) { // 多选框
                let self = this;
                if (type == 2) { // 二级菜单点击
                    let index = 0;
                    self.menu[a].children.map(item => {
                        if (self.menusIds.indexOf(item.id) > -1) {
                        index += 1;
                    }
                })
                    if (index > 0) {
                        if (self.menusIds.indexOf(self.menu[a].id) < 0) {
                            self.menusIds.push(self.menu[a].id);
                        }
                    } else {
                        if (self.menusIds.indexOf(self.menu[a].id) > 0) {
                            self.menusIds.splice(self.menusIds.indexOf(self.menu[a].id), 1);
                        }
                    }
                } else {
                    if (self.menusIds.indexOf(self.menu[a].id) > -1) {
                        self.menu[a].children.map(item => {
                            if (self.menusIds.findIndex((n) => n == item.id) < 0) {
                            self.menusIds.push(item.id)
                        }
                    })
                    } else {
                        self.menu[a].children.map(item => {
                            if (self.menusIds.findIndex((n) => n == item.id) > -1) {
                            self.menusIds.splice(self.menusIds.findIndex((n) => n == item.id), 1);
                        }
                    })
                    }
                }
            },
            //编辑某个菜单
            handleEdit(obj) {
                let self = this;
                self.obj = obj;
                let array = obj.menuIds ? obj.menuIds.split(',') : []
                let arr = [];
                array.map(item => {
                    arr.push(parseInt(item));
            })
                this.menusIds = arr;
            },
            // 获取所有菜单列表
            async _allMenuApi() {
        let res = await fetchRights();
        if (res.code == 200) {
            this.menu = res.data.allMenus;
        }
    }
    }
    })
</script>


</body>
</html>