<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/dashboard.css" th:href="@{css/dashboard.css}">

    <script src="../static/js/jquery-3.3.1.js" th:src="@{js/jquery-3.3.1.js}"></script>
    <style>
        body{
            background-color: #d9edf7;
        }
    </style>
</head>

<body>
<!--引入头部-->
<div th:replace="commons/bar::topbar"></div>


<div class="container-fluid">
    <div class="row">
        <!--引入侧边栏-->
        <div th:replace="commons/bar::sidebar(activeUri='roster')"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div>
                <div>
                    <form th:action="@{/importFile}" method="post" enctype="multipart/form-data" id="form">
                        <input type="file" style="display: none" name="file" id="importFile" onchange="submitFile()">
                    </form>
                    <button type="button" class="btn btn-info" onclick="importFile()">导入</button>
                    <button type="button" class="btn btn-info" onclick="downloadExcel()">导出</button>
                    <a type="button" class="btn btn-info" href="/deleteAll">清空</a>
                </div>
            </div><br>
            <div class="col-lg-3">总人数 : <span id="sum"></span></div>
            <div class="col-lg-3">男生 : <span id="boy"></span></div>
            <div class="col-lg-3">女生 : <span id="girl"></span></div>
            <div class="col-lg-3">平均分 : <span id="avg"></span></div>
            <table class="table table-striped table-bordered table-hover">
                <thead style="background-color: skyblue">
                <tr style="color: #2b669a">
                    <th>序号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>民族</th>
                    <th>身份证号</th>
                    <th>编班类型</th>
                    <th>出生年月</th>
                    <th>籍贯</th>
                    <th>家庭住址</th>
                    <th>联系电话</th>
                    <th>监护人姓名</th>
                    <th>监护人电话</th>
                    <th>总分</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student:${students}" th:class="${student.priority==1?'danger':'success'}">
                    <td th:text="${students.indexOf(student)+1}"></td>
                    <td th:text="${student.name}"> </td>
                    <td th:text="${student.sex}"> </td>
                    <td th:text="${student.nation}"> </td>
                    <td th:text="${student.idCard}"> </td>
                    <td th:text="${student.type}"> </td>
                    <td> </td>
                    <td th:text="${student.nativePlace}"> </td>
                    <td th:text="${student.address}"> </td>
                    <td> </td>
                    <td th:text="${student.patriarch}"> </td>
                    <td th:text="${student.phone}"> </td>
                    <td th:text="${student.totalGrade}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    var students = /*[[${students}]]*/ '';
    var boyNum = 0;
    var girlNum = 0;
    var sum = 0;
    for (var i = 0; i < students.length; i++) {
        if (students[i].sex === "男"){
            boyNum++;
        }
        else {
            girlNum++;
        }
        sum+=students[i].totalGrade;
    }

    $("#sum").append(students.length);
    $("#boy").append(boyNum);
    $("#girl").append(girlNum);
    $("#avg").append(Math.round(sum/students.length * 100) / 100);

</script>
<script>
    function importFile() {
        document.getElementById("importFile").click();
    }
    function submitFile() {

        document.getElementById("form").submit();
    }
    function downloadExcel() {
        location.href="/downloadExcel";
    }
</script>
</html>
