<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/dashboard.css" th:href="@{css/dashboard.css}">

    <script src="../static/js/jquery-3.3.1.js" th:src="@{js/jquery-3.3.1.js}"></script>
    <style>
        body{
            background-color: #d9edf7;
        }
    </style>
</head>

<body>
<!--引入头部-->
<div th:replace="commons/bar::topbar"></div>


<div class="container-fluid">
    <div class="row">
        <!--引入侧边栏-->
        <div th:replace="commons/bar::sidebar(activeUri='showClass')"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div style="width:15%;height:100px;background-color:#2E86C1;border-radius:90%;margin-right: 10%;
             margin-top: 5%;text-align: center;padding: 40px 20px;" class="col-lg-3" th:each="class:${classes}">
                <a th:href="@{'showStudent?classId='+${class.id}}"><div th:text="${class.name}" style="color: white"></div></a>
            </div>
        </div>
    </div>
</div>
</body>
<script>

</script>
</html>