<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/dashboard.css" th:href="@{css/dashboard.css}">

    <script src="../static/js/jquery-3.3.1.js" th:src="@{js/jquery-3.3.1.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.js" th:src="@{bootstrap/js/bootstrap.js}"></script>
    <style>
        body{
            background-color: #d9edf7;
        }
    </style>
</head>

<body>
<!--引入头部-->
<div th:replace="commons/bar::topbar"></div>


<div class="container-fluid">
    <div class="row">
        <!--引入侧边栏-->
        <div th:replace="commons/bar::sidebar(activeUri='showStudent')"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <a class="btn btn-info" th:href="@{'/downloadExcel?id='+${c.id}}">导出</a>
            <h3 style="text-align: center" th:text="${c.name}" id="className"></h3>
            <div class="col-lg-3">总人数 : <span th:text="${students.size()}"></span></div>
            <div class="col-lg-3">男生 : <span id="boy"></span></div>
            <div class="col-lg-3">女生 : <span id="girl"></span></div>
            <div class="col-lg-3">平均分 : <span id="avg"></span></div>
            <table class="table table-striped table-bordered table-hover">
                <thead style="background-color: skyblue">
                <tr style="color: #2b669a">
                    <th>序号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>民族</th>
                    <th>身份证号</th>
                    <th>编班类型</th>
                    <th>出生年月</th>
                    <th>籍贯</th>
                    <th>家庭住址</th>
                    <th>联系电话</th>
                    <th>监护人姓名</th>
                    <th>监护人电话</th>
                    <th>总分</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student:${students}" th:class="${student.priority==1?'danger':'success'}">
                    <td th:text="${students.indexOf(student)+1}"></td>
                    <td th:text="${student.name}"> </td>
                    <td th:text="${student.sex}"> </td>
                    <td th:text="${student.nation}"> </td>
                    <td th:text="${student.idCard}"> </td>
                    <td th:text="${student.type}"> </td>
                    <td> </td>
                    <td th:text="${student.nativePlace}"> </td>
                    <td th:text="${student.address}"> </td>
                    <td> </td>
                    <td th:text="${student.patriarch}"> </td>
                    <td th:text="${student.phone}"> </td>
                    <td th:text="${student.totalGrade}"></td>
                    <input type="hidden" id="studentID" th:value="${student.id}">
                    <td><button type="button"  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" th:onclick="'test('+${student.id}+')'">调整班级</button></td>
                </tr>
                </tbody>
            </table>

            <!--Model-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">调整班级</h4>
                        </div>
                        <div class="modal-body" id="model">
                            <!--<div align="center">姓名 : <input value="123" style="border: 0px" disabled></div>-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" onclick="updateStudent()">保存更改</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    var students = /*[[${students}]]*/ '';
    var boyNum = 0;
    var girlNum = 0;
    var sum = 0;
    for (var i = 0; i < students.length; i++) {
        if (students[i].sex === "男"){
            boyNum++;
        }
        else {
            girlNum++;
        }
        sum+=students[i].totalGrade;
    }
    $("#boy").append(boyNum);
    $("#girl").append(girlNum);
    $("#avg").append(Math.round(sum/students.length * 100) / 100);
</script>
<script type="text/javascript">
    function test(id) {
        $.post("findOneStudent", {id: id}, function (student) {
            var model = '';
            model += '<div align="center">姓名 : <input value="'+student.name+'" disabled></div>'
                    +'<div align="center">性别 : <input value="'+student.sex+'" disabled></div>'
                +'<div align="center">民族 : <input value="'+student.nation+'" disabled></div>'
                +'<div align="center">身份证 : <input value="'+student.idCard+'" disabled></div>'
                +'<div align="center">编班类型 : <input value="'+student.type+'" disabled></div>'
                +'<div align="center">出生年月 : <input value="" disabled></div>'
                +'<div align="center">籍贯 : <input value="'+student.nativePlace+'" disabled></div>'
                +'<div align="center">家庭住址 : <input value="'+student.address+'" disabled></div>'
                +'<div align="center">联系电话 : <input value="" disabled></div>'
                +'<div align="center">监护人姓名 : <input value="'+student.patriarch+'" disabled></div>'
                +'<div align="center">监护人电话 : <input value="'+student.phone+'" disabled></div>'
                +'<div align="center">总分 : <input value="'+student.totalGrade+'" disabled></div>'
                +'<div align="center">班级 : <input value="'+$("#className").text()+'" id="cName"></div>'
                +'<input type="hidden" id="studentId" value="'+student.id+'">';
            $("#model").html(model);
        })

    }

    function updateStudent() {
        var id = $("#studentId").val();
        var className = $("#cName").val();
        $.post("/updateStudent",{id:id,className:className},function (data) {

        })
    }
</script>
</html>
